@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bgclr {
    background-image: radial-gradient(#ebf0af, #f7ff85);
    width: 100%;
    height: 110vh;
}

.navbar {
    border-radius: 8px;
    margin: 5px;
    border-width: 1px;
    border-color: yellow;
    border-style: solid;

}

.toggler-icon {
    border-width: 0px;
    color: gold;
    border-style: solid;
    border-radius: 5px;
}

.navbar-brand {
    border-width: 0px;
    border-color: gold;
    border-style: solid;
    border-radius: 5px;
    width: auto;
    padding: 5px;
    font-family: 'Roboto';
    font-weight: bold;
}

.h1 {
    color: darkgreen;
    text-align: center;
    font-size: 25px;
    margin-top: auto;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.imp {
    height: 100vh;
    width: 100vw;
}

.h2 {
    color: green;
    text-align: center;
    font-size: 20px;
    margin-top: -5px;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.h3 {
    text-shadow: 2px 4px 5px #ffffff;
    text-decoration: solid;
    border-color: #ffffff;
    border-width: 2px;
    border-style: double;
    padding: 15px;
    color: red;
    text-align: center;
    font-size: 50px;
    margin-top: 30%;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.h4 {
    color: darkblue;
    text-align: left;
    margin-top: 10px;
    font-size: 23px;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.h5 {
    color: red;
    text-align: center;
    font-size: 50px;
    padding-top: 2px;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.butt {
    height: 40px;
    width: 150px;
    background-color: brown;
    border-style: solid;
    border-color: brown;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    border-width: 2px;
    margin-top: 40px;
    font-family: 'TimesNewRoman';
}

.rbutt {
    height: 40px;
    width: 150px;
    background-color: #ffffff;
    border-style: solid;
    border-color: brown;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    border-width: 2px;
    margin-top: 30px;
    font-family: 'TimesNewRoman';
}


.buttt {
    height: 40px;
    width: 50px;
    font-size: 20px;
    padding-bottom: 0px;
    font-family: 'Roboto';
    text-align: center;

}

.butto {
    height: 50px;
    width: 220px;
    background-color: red;
    border-style: solid;
    border-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    border-width: 2px;
    margin-top: 30px;
    font-family: Trebuchet;
}

.hmgg {
    color: red;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    font-family: serif;
}

.hmggg {
    color: red;
    font-size: 25px;
    text-align: center;
    font-family: serif;
    padding-top: 15px;
}

.pict {
    width: 120px;
    margin: 15px;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 5px;
}

.footer {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}

.ffooter {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}

.footerr {
    font-size: 11px;
    text-align: center;
    margin-top: -15px;
}

.bttnn {
    background-color: #171765;
    border-radius: 6px;
    height: 25px;
    width: 30vw;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-top: 380px;
    font-size: 10px;
    border-width: 0px;
}

.bttnnn {
    background-color: #171765;
    border-radius: 2px;
    height: 5%;
    width: 15%;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 10px;
    border-width: 0px;
}

.button {
    background-color: transparent;
    border-color: #171765;
    border-style: solid;
    border-radius: 6px;
    height: 6vh;
    width: 25vw;
    color: #171765;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    font-size: 20px;
    border-width: 3px;
}

.button1 {
    background-color: transparent;
    border-color: #171765;
    border-style: solid;
    border-radius: 6px;
    height: 6vh;
    width: 60vw;
    color: #171765;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    font-size: 25px;
    border-width: 3px;
}

.buttonn {
    background-color: transparent;
    border-color: #171765;
    border-style: solid;
    border-radius: 6px;
    height: 6vh;
    width: 50%;
    color: #171765;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    font-size: 30px;
    border-width: 3px;
}

.bbuttonn {
    background-color: #171765;
    border-color: #171765;
    border-style: solid;
    border-radius: 6px;
    height: 6vh;
    width: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size: 25px;
    border-width: 3px;
}

.clrn {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    font-family: helvetica;
}

.clrnn {
    color: #171765;
    font-weight: bold;
    transition: 0.3;
}

.cclrnn {
    color: #ffffff;
    font-weight: bold;
    transition: 0.3;
}



.clrns {
    color: grey;
    font-weight: bold;
    padding-top: 55px;
    font-size: 15px;
    text-decoration: underline;
}

.clrnss {
    color: grey;
    font-weight: bold;
    padding-top: 30px;
    font-size: 15px;
    text-decoration: underline;
}

.clrnsss {
    color: grey;
    font-weight: bold;
    padding-top: 20px;
    font-size: 10px;
    text-align: center;
}

.clrnssc {
    font-family: 'cursive';
    color: grey;
    font-weight: bold;
    padding-top: 0px;
    font-size: 10px;
    text-align: center;
}

.clrnsscc {
    color: brown;
    font-weight: bold;
    padding-top: 0px;
    font-size: 12px;
    text-align: center;
}


.abt {
    background-color: yellow;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 90%;
    margin: 15px;
}

.p {
    font-family: "'Roboto'";
    font-size: 15px;
    padding: 20px;
    text-align: start;

}

#dark {
    background-color: black;
    color: white;
}